.msj-error{
    /* background-color: #d2a49f5c !important; */
  }

.msj-success{
    /* background-color: #b6dfc7 !important; */
}

.btn-add{
    background-color: #030b06;
    color: white;
    border: 3px solid #040a07 !important;
    font-size: 1em;
    font-weight: bolder;
    border-radius: 15px !important;
}

.btn-add:hover{
    background-color: white !important;
    color: black !important;
}

.btn-add:active{
    border: 1px solid black!important;
}

.mar-lef{
    margin-left: 5px;
}

