.btn-not {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 15px;
    -webkit-user-select: none;
    -webkit-appearance: button;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 15px;
    width: 100%;
}


.mar-lr{
    margin-left: 5px;
    margin-right: 5px;
}