.div-cart {
    background-color: rgb(105, 105, 105, 0.8);
    border-radius: 15px;
    /* padding: 10px; */
    color: white;
    text-align: center;
    width: 20%;
    filter: blur(5);
    height: fit-content;
    /* margin-left: auto; */
    
}

.btn-go, .btn-go2{
    color: white;
    height: fit-content;
    margin-left: auto;
}

.btn-go2{
    margin-right: 10px;
    
}

.div-title {
    width: 80%;
    padding: 20px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    background-color: black;
    /* background-image: url(../../img/fondo.jpg); */
    padding: 15px;
    align-items: center;
    max-width: 100% !important;
    display: flex;
    flex-flow: row;
}

.svg {
    background-image: url(../../img/xxx.jpg);
    background-size: cover;
    /* background-image: url(../../img/xx.jpg); */
}

.div-somos {
    background-color: rgb(58, 58, 58, 0.8);
    text-shadow: 2px 2px 3px #443F3F;
    color: white;
    width: 70%;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 15em;
    margin: 0 auto;
    padding: 15px;
    height: fit-content;
}

.relative{
    position: relative;
}

.container-somos {
    /* display: flex;
    justify-content: center;
    position: relative top; */
    /* position: relative; */
}


.h2-somos{
    font-size: 2.3em;
    text-align: center;
    font-style: italic;
    font-style: bold;
    text-shadow: 2px 2px 3px #443F3F;
}

.p-somos{
    font-size: 1.3em;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 3px #443F3F;
}

.btn-not {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    /* for button */
    -webkit-appearance: button;
    /* for input */
    -moz-user-select: none;
    -ms-user-select: none;
    /* width: ; */
    padding: 15px;
}


@media (max-width: 550px) {
    .div-title {
        font-size: 1em;
        width: 60%;
    }

    .div-cart {
        width: 40%;
    }

    .div-somos{
        width: 98%;
        font-size: small;
    }
    .p-somos{
        text-align: justify;
    }
}


@media (max-width:890px) {
    .div-somos{
        top: 10em;
        font-size: 0.8em;
    }
    .container-somos{
        height: 100px;
    }
}

@media (max-width: 620px) {
    .div-somos{
        top: 8em;
        font-size: 0.6em;
    }
}


