.div-cart {
    background-color: rgb(105, 105, 105, 0.8);
    border-radius: 15px;
    /* padding: 10px; */
    color: white;
    text-align: center;
    width: 20%;
    filter: blur(5);
    height: fit-content;
}

.div-title {
    width: 80%;
    padding: 20px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.container {
    background-color: black;
    /* background-image: url(../../img/fondo.jpg); */
    padding: 15px;
    align-items: center;
    max-width: 100% !important;
}

.svg {
    /* background-color: blue; */
    background-image: url(../../img/xx.jpg);
}

.div-somos {
    background-color: rgb(58, 58, 58, 0.8);
    color: white;
    /* text-align: justify; */
    width: 70%;
    border-radius: 15px;
    position: absolute;
    bottom: 2.5rem;
    /* top: 20%;
    left: 50%;
    transform: translate(-50%); */
    /* bottom: 7em; */
    padding: 15px;
}

.container-somos {
    display: flex;
    justify-content: center;
    position: relative top;
}

.h2-somos{
    font-size: 2em;
    text-align: center;
}

.p-somos{
    font-size: 1.3em;
    text-align: center;
}

.btn-not {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    /* for button */
    -webkit-appearance: button;
    /* for input */
    -moz-user-select: none;
    -ms-user-select: none;
    /* width: ; */
    padding: 15px;
}


@media (max-width: 550px) {
    .div-title {
        font-size: 1em;
        width: 60%;
    }

    .div-cart {
        width: 40%;
    }

    .div-somos{
        width: 98%;
    }
    .p-somos{
        text-align: justify;
    }
}

@media (max-width: 715px) {
    .svg{
        /* height: 25vw; */
    }
}